.scroll-carousel {
  width: 90%;
  margin: auto;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  
  scroll-snap-type: x mandatory;

}

.scroll-carousel-item-container {
  scroll-snap-align: center;
}